.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Reset para asegurar que no hay márgenes o padding que interfieran */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
